<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Личный кабинет</div>

                <div class="card-body">
                    <div class="alert alert-success" role="alert">
                        Вы успешно вошли в систему!
                    </div>

                    Добро пожаловать!
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>